body {
    font-family: Sans-Serif;
    background-color: #011;
    color: #9ab;
}

h1, h2, p,  {
    text-align: center;
    font-weight: thin;
}

a {
    color: 890;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
a:active {
    color: red;
}

div.section {
    width: 45%;
    border: 1px solid #234;
    float: left;
    overflow-x: hidden;
}

div.content.pretext {
    overflow: scroll;
}
