body {
    font-family: Sans-Serif;
    background-color: #011;
    color: #9ab;
}

h1, h2, p,  {
    text-align: center;
    font-weight: thin;
}
h2 {
    line-height: 1em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 100;
}

a {
    color: 890;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
a:active {
    color: red;
}

.section {
    border: 1px solid #234;
    overflow-x: hidden;
    width: 190px;
}
.content {
    padding: 2px;
}

div.content.pretext {
    overflow: scroll;
}

b {
    color: #fff;
}

.ok {
    background-color: green;
}

.not_great {
    background-color: blue;
}

.bad {
    background-color: orange;
    color: #000;
}

.fail {
    background-color: red;
    color: white;
}
